@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


  /*     Styling the about us start's here    */
  .sectiors {
    width: 100%;
    min-height: 100vh; 
    background-color: #ddd;
} 

.contannan {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.content-section {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 90%;
    padding: 0px 0px 100px 0px;
    display: grid;
}

.image-section {
    width: 90%;
}

.image-section img {
    width: 100%;
    height: 100%;
}

.content-section .title {
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .contents h3 {
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;
}

.content-section .contents p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5;
}
 .content-section .contents button {
    margin-top: 30px;
 }

.content-section .contents .button a {
    background-color: #095a55;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    font-size: 23px;
    letter-spacing: 1.3px;
    border-radius: 5px;
}

.content-section .contents .button a:hover {
    color: #fff;
    border: 7px solid orange;
    background-color: #ff6500;
    transition: 0.25s ease-in-out;
    border-radius: 5px;
}

.content-section .socials {
    margin: 40px 40px;
}

.content-section .socials i {
    color: #095a55;
    font-size: 30px;
    padding: 0px 10px;
}

.content-section .socials i:hover {
    color: orangered;
}

.dark {
    color: #666;
}

.big {
    font-size: 45px;
}

hr {
    margin: 0 auto;
    width: 90px;
    color: orange;
}

.header-section {
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    padding: 0px 0px 10px 0px;
    background: #ddd;
}

/*     Making the about us to be Responsive starts here    */

@media (max-width: 770px) {
    .sectiors {
        background: #ddd;
    }

    .contannan {
        width: 100%;
        margin: auto;
        padding-top: 10px;
        padding-left: 10px;
        background-color: #ddd;
    }

    .content-section {
        display: inline;
        background-color: #ddd;
    }

    .image-section {
        width: 90%;
        padding-left: 35px;
    } 

    .image-section img {
        width: 100%;
        height: 100%;
    } 

    .content-section .contents .button {
        text-align: center;
    }

    .content-section .contents .button a {
        padding: 9px 30px;
    }

    .content-section .socials {
        text-align: center;
    }
}



/*     Styling the contact us start's here    */


section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #095a55;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 8%;
    width: 50%;
    height: 95%;
    background: orange;
}

.container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

.container .contactInfo h2 {
    color: #f2f2f2;
    font-size: 24px;
    font-weight: 500;
}

.container .contactInfo ul.info {
    position: relative;
    margin: 20px 0;
    display: inline-block;
}

.container .contactInfo ul.info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.container .contactInfo ul.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

.container .contactInfo ul.info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
}

.container .contactInfo ul.info li span:nth-child(2) {
    color: #f2f2f2;
    margin-left: 10px;
    font-weight: 300;
}

.container .contactInfo ul.sci {
    position: relative;
    display: flex;
}

.container .contactInfo ul.sci li {
    list-style: none; 
    margin-right: 15px;
}

.container .contactInfo ul.sci li a {
    text-decoration: none;
}

.container .contactInfo ul.sci li a img {
    filter: invert(1);
}

.container .contactForm {
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #f2f2f2;
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
}

.container .contactForm h2 {
    color: #095a55;
    font-size: 24px;
    font-weight: 500;
}

.container .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.container .contactForm .formBox .inputBox {
    position: relative;
    margin-bottom: 35px;
}

.container .contactForm .formBox .inputBox.w50 {
    width: 47%;
}

.container .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

.container .contactForm .formBox .inputBox input, 
.container .contactForm .formBox .inputBox textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.container .contactForm .formBox .inputBox textarea {
    height: 120px;
}

.container .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.container .contactForm .formBox .inputBox input:focus ~ span,
.container .contactForm .formBox .inputBox input:valid ~ span,
.container .contactForm .formBox .inputBox textarea:focus ~ span,
.container .contactForm .formBox .inputBox textarea:valid ~ span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #095a55;
    font-weight: 500;
}

.container .contactForm .formBox .inputBox button {
    position: relative;
    cursor: pointer;
    background: #095a55;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 17px;
    text-align: center;
    margin: 2px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 17px;
    border-radius: 20px;
}

.container .contactForm .formBox .inputBox button:hover {
    color: #f1f1f1;
    border: 5px solid darkorange;
    background-color: #ff6500;
    transition: 0.25s ease-in-out;
}


/*        Styling the contact us section ends here        */

                /*    *****     */

/*   Moving on to making it responsive    */

@media screen and (min-width : 1000px) {
    
.container .contactInfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #095a55;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);
}
}

@media (max-width : 1200px) 
{
 .container {
    width: 90%;
    min-width: auto;
    margin: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    }

    
.container .contactInfo {
    background: #095a55;
    display: block;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 5px;
}

  .contact .contactInfo {
    top: 0;
    height: 550px;
    position: relative;
    box-shadow: none;
  }

  .container .contactForm {
    position: relative;
    width: calc(100% - 350px);
    padding-left: 0;
    margin-left: 0;
    padding: 40px;
    height: 550px;
    box-shadow: none;
  }
}

@media (max-width : 991px) 
{
    section {
        background: #ffa500;
    }

    section::before {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .container .contactForm {
        width: 100%;
        height: auto;
    }

    .container .contactInfo {
        width: 100%;
        height: auto;
        flex-direction: row;
        display: inline;
    }

    .container .contactInfo ul.sci {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width : 600px) {
    .container .contactForm {
        padding: 25px;
    }
    .container .contactInfo {
        padding: 40px;
        flex-direction: column;
        align-items: flex-start;
        display: inline;
        background-color: #095a55;
    }

    .container .contactInfo ul.sci {
        margin-top: 40px;
    }

    .container .contactForm .formBox .inputBox.w50 {
        width: 100%;
    }
}

/* End of making it responsive */






.top-menu-container {
    background-color: #e8e8e8;
    height: 70px;
    box-shadow: 0px 0px 10px #cccccc;
}

.wrapper a {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-weight: bold;
    padding: 12px 20px;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0px 30px 0px 0px;
}

.wrapper {
    padding: 60px 0px 0px 0px;
}

/* Logo Website */
.logo-header img {
    width: 35px;
}

.logo-header {
    display: block;
    position: absolute;
    left: 60px;
    top: 25px;
}

/* Top menu navigation */
.top-menu-container ul {
    padding: 0;
    margin: 0;
    float: right;
    position: relative;
    top: 30px;
    right: 30px;
}

.top-menu-container ul li{
    display: inline;
}

.top-menu-container ul li a {
    text-decoration: none;
    margin: 20px;
    font-size: 14px;
    padding: 0px 0px 0px 0px;
    text-transform: uppercase;
    color: #303030;
}

/* Making the menu part to be responsive */

@media (max-width : 700px) {
    .top-menu-container ul li a {
        margin: 10px;
    }

}

/* Styling footer */
footer {
    background-color: #DCDCDC;
    box-shadow: 0px 0px 30px #dcdcdc;
}

.container-footer {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.container-footer img {
    width: 50px;
    padding: 10px 0px 10px 0px;
}

.container-footer p {
    font-size: 16px;
}

.here {
    color: orange;
}


/* ABOUT US HOME PAGE */
.container-grid-2 {
    grid-template-columns: 1fr 1fr;
    display: list-item;
    margin: 0 auto;
    width: 70%;
    padding: 0px 0px 50px 0px;
    background-color: #666;
}

.img-team {
    width: 50%;
    height: 30%;
    margin-top: 5%;
    margin-left: 5%;
}

.container-grid-2 h2 {
    padding: 0;
    color: #a3a3a3;
}

.container-grid-2 h3 {
    padding: 20px 0px 40px 0px;
}

.container-grid-2 div:nth-child(2) {
    margin: auto;
    width: 80%;
  }
